@model ML.Aseguradora
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formulario</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Aseguradora", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.IdAseguradora, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.IdAseguradora, new { @class = "hidden form-control" })
                            @Html.ValidationMessageFor(model => model.IdAseguradora)
                            @*hidden*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FechaCreacion)
                            @Html.TextBoxFor(model => model.FechaCreacion, new { @class = "form-control", @id = "txtFechaCreacion" })
                            @Html.ValidationMessageFor(model => model.FechaCreacion)
                        </div>

                        <div class="col-md-3">
                            @Html.LabelFor(model => model.FechaModificacion)
                            @Html.TextBoxFor(model => model.FechaModificacion, new { @class = "form-control", @id = "txtFechaModificacion" })
                            @Html.ValidationMessageFor(model => model.FechaModificacion)
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.usuario.IdUsuario)
                            @Html.TextBoxFor(model => model.usuario.IdUsuario, new { @class = "form-control", @id = "txtIdUsuario" })
                            @Html.ValidationMessageFor(model => model.usuario.IdUsuario)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Aseguradora", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

</div>



